form{
    position: absolute;
    left: 50%;
    top: 130%;
    width: 300px;
    transform: translate(-50%,-50%);
    padding: 30px;
    text-align: center;
    background: rgba(0,0,0,0.4);
    margin-bottom: 50px;
}
form input,.item_nm{
    border-radius: 20px;
    margin: 10px;
    padding: 5px 2px;
}
.ITEM1{
    border-bottom: 2PX solid black;
    margin-bottom: 20PX;
}
@media only screen and (max-width = 414px) {
    form{
        position: absolute;
        height: 2000px;
        left: 50%;
        top: 113%;
        width: 300px;
        transform: translate(-50%,-50%);
        padding: 30px;
        text-align: center;
        background: rgba(0,0,0,0.4);
    }
}