.main{
    display: flex;
    justify-content: center;

    align-items: center;
    width: 100%;
    height: 500px;
}
#Today_Date{
    padding: 10px;
}
#today{
    padding: 10px;
}
#Total{
    padding: 10px;
}

#sent{
    padding: 10px;
}
#Salesman{
    padding: 10px;
}