.main-body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: blue;
    width: 100%;
    height: 500px;
}
.main-body a{
    text-decoration: none;
    color: white;
}
.main-body button{
    margin: 10px;
    padding: 14px;
    background-color: black;
}
