.input-group-text {
    width: 85px;
 }
 @media print{

    .form-control

    {

        border: 0px;

    }


    .input-group-text

    {

        border: 0px;

        background-color: white;

    }


    table 
    {

        border : 0px solid black;

    }

}